db.js
# Ігнорувати файли з розширенням .log та .txt
*.log
*.txt

# Ігнорувати файли з розширенням .swp, .swo та .swm
*.swp
*.swo
*.swm

# Ігнорувати папку з назвою "node_modules"
node_modules

# Ігнорувати файли, які мають назву ".env"
.env
